<!-- <div class="main-container">
  <div class="nav-container">
    <ul>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><a routerLink="">home</a></li>
        <li routerLinkActive="active"><a routerLink="about">about</a></li>
        <li routerLinkActive="active"><a routerLink="contact">contact</a></li>
        <li routerLinkActive="active"><a routerLink="products">products</a></li>



    </ul>
<div class="component-container"> -->
  <!-- <app-home></app-home>
  <app-about></app-about>
  <app-contact></app-contact> -->
  <router-outlet></router-outlet>

<!-- </div>
  </div>
</div> -->